<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ms-3 me-5" >ArtNicolas Pic</a>

    <div class="container-fluid ">
      <button class="navbar-toggler mx-3 my-4 btn-lineas" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon "></span>
      </button>



      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav">

          <a routerLink="./noticias" [routerLinkActive]="'active'" class="rounded border bg-white px-4 mx-3 nav-link active" aria-current="page" >Noticias</a>
          
          <a routerLink="./artistas" [routerLinkActive]="'active'"class="rounded border bg-white px-4 mx-3 nav-link" >Artistas</a>

          
          <!-- crear noticia, mi galeria(dentro subir foto) -->
          <a *ngIf="login" routerLink="./migaleria" [routerLinkActive]="'active'"class="rounded border bg-white px-4 mx-3 nav-link" >Mi Galeria</a>
          <a *ngIf="login" routerLink="./subirimg" [routerLinkActive]="'active'"class="rounded border bg-white px-4 mx-3 nav-link" >Subir Imagen</a>
          <a *ngIf="login" routerLink="./subirnoticia" [routerLinkActive]="'active'"class="rounded border bg-white px-4 mx-3 nav-link" >Mi Subir Noticia</a>
          <a *ngIf="login" routerLink="./configurar" [routerLinkActive]="'active'"class="rounded border bg-white px-4 mx-3 nav-link" >Configurar Cuenta</a>
          <a *ngIf="login" (click)="logOut()" role="button" [routerLinkActive]="'active'"class="rounded border bg-white px-4 mx-3 nav-link" >Log out</a>
          
          
          <a routerLink="./acerca" [routerLinkActive]="'active'"class="rounded border bg-white px-4 mx-3 nav-link" >Quienes Somos</a>

          <a *ngIf="!login" routerLink="./login" [routerLinkActive]="'active'"class="rounded border bg-white px-4 mx-3 nav-link" >Login</a>
        </div>
      </div>

    </div>
</nav>